.employers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.employers__title {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-size: 30px;
  max-width: 1400px;
  padding: 8px 20px;
  width: 100%;
}

.employee--container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}

.employee__desc--container {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  align-items: center;
  margin-bottom: 20px;
}

.employee__img {
  max-width: 300px;
  margin: 16px;
  border-radius: 5px;
  box-shadow: 0 0 2px #ccc;
}

.employee__name {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  padding: 8px;
}

.employee__surname {
  color: #e67918;
}

.employee__exp {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  padding: 8px;
}

.employee__permission {
  font-family: "Anton", sans-serif;
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.employee__desc {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  padding: 8px 0;
  max-width: 600px;
}

.history {
  width: 100%;
  margin-top: 54px;
}

.about__company {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 30px;
  padding: 40px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.history--container {
  max-width: 1400px;
  margin: 0 auto;
  background-image: url("../images/Vector.png");
  background-size: contain;
  padding-bottom: 20px;
}

.history__title {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding: 4px 20px 16px;
}

.history__desc--main {
  width: 100%;
  height: 100%;
  font-family: "Anton", sans-serif;
  padding: 12px 20px;
}

.history__date {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  padding: 12px 20px;
}

.year {
  color: #e67918;
  font-size: 30px;
}

.history__desc--other {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 12px 20px 12px;
}

@media (min-width: 640px) {
  .employers {
    margin-bottom: 40px;
  }
  .employee--container {
    flex-direction: row;
  }
  .employee__img--second {
    order: 1;
  }
  .employee__desc--container {
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .about__company {
    font-size: 36px;
  }
  .history--container {
    display: flex;
    flex-wrap: wrap;
  }
  .history__title {
    width: 100%;
    font-size: 30px;
  }
  .history__column--container {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* padding-left: 50px; */
  }
  .history__desc--main {
    font-size: 18px;
  }
  .history__date {
    padding-top: 16px;
    font-size: 24px;
  }
  .year {
    font-size: 36px;
  }
  .history__desc--other {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .employers__title {
    font-size: 40px;
  }
  .employee__name {
    font-size: 32px;
  }
  .employee__img {
    max-width: 350px;
    margin-right: 80px;
  }
  .employee__img--second {
    margin-right: 10px;
    margin-left: 80px;
  }

  .about__company {
    font-size: 48px;
  }

  .history__title {
    font-size: 36px;
    padding-top: 16px;
  }
  .history__column--container {
    padding-top: 8px;
  }
  .history__desc--main {
    font-size: 20px;
  }
  .history__date {
    padding-top: 16px;
    font-size: 26px;
  }
  .year {
    font-size: 44px;
  }
  .history__desc--other {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  .employee__img {
    margin-right: 180px;
  }
  .employee__img--second {
    margin-right: 10px;
    margin-left: 120px;
  }
}
